.answered-box {
    height: 35px;
    width: 35px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 25%);
    background-color: rgb(1, 215, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}