.outside-box-for-answered-and-marked-for-review {
    height: 35px;
    width: 35px;
    position: relative;
    border-radius: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.inside-box-for-answered-and-marked-for-review {
    height: 13px;
    width: 13px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgb(1, 215, 1);
    border-radius: 100%;
}