.not-visited-box {
    height: 30px;
    width: 30px;
    border-radius: 20%;
    background-color: rgb(181, 181, 181);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
}